#layer {
  border: 3px solid black;
  width: 98%;
  padding: 3px 5px 3px 5px;
  margin: 1% 1% 1% 1%;
}

.layer1 {
  border: 3px solid black;
  margin: 45px;
  padding: 5px;
}

.layer3 {
  border: 3px solid black;
  margin: 45px;
  padding: 20px;
}
